In [1]:
import pandas as pd

In [2]:
file_path = 'Expanded_data_with_more_features.csv'

df = pd.read_csv(file_path)

In [3]:
df.columns

Index(['Unnamed: 0', 'Gender', 'EthnicGroup', 'ParentEduc', 'LunchType',
       'TestPrep', 'ParentMaritalStatus', 'PracticeSport', 'IsFirstChild',
       'NrSiblings', 'TransportMeans', 'WklyStudyHours', 'MathScore',
       'ReadingScore', 'WritingScore'],
      dtype='object')

In [4]:
df.info

<bound method DataFrame.info of        Unnamed: 0  Gender EthnicGroup          ParentEduc     LunchType  \
0               0  female         NaN   bachelor's degree      standard
1               1  female     group C        some college      standard
2               2  female     group B     master's degree      standard
3               3    male     group A  associate's degree  free/reduced
4               4    male     group C        some college      standard
...           ...     ...         ...                 ...           ...
30636         816  female     group D         high school      standard
30637         890    male     group E         high school      standard
30638         911  female         NaN         high school  free/reduced
30639         934  female     group D  associate's degree      standard
30640         960    male     group B        some college      standard

        TestPrep ParentMaritalStatus PracticeSport IsFirstChild  NrSiblings  \
0           none             married     regularly          yes         3.0
1            NaN             married     sometimes          yes         0.0
2           none              single     sometimes          yes         4.0
3           none             married         never           no         1.0
4           none             married     sometimes          yes         0.0
...          ...                 ...           ...          ...         ...
30636       none              single     sometimes           no         2.0
30637       none              single     regularly           no         1.0
30638  completed             married     sometimes           no         1.0
30639  completed             married     regularly           no         3.0
30640       none             married         never           no         1.0

      TransportMeans WklyStudyHours  MathScore  ReadingScore  WritingScore
0         school_bus            < 5         71            71            74
1                NaN         5 - 10         69            90            88
2         school_bus            < 5         87            93            91
3                NaN         5 - 10         45            56            42
4         school_bus         5 - 10         76            78            75
...              ...            ...        ...           ...           ...
30636     school_bus         5 - 10         59            61            65
30637        private         5 - 10         58            53            51
30638        private         5 - 10         61            70            67
30639     school_bus         5 - 10         82            90            93
30640     school_bus         5 - 10         64            60            58

[30641 rows x 15 columns]>

## Проаналізуйте розподіл за статтю серед учнів.
1. Скільки студентів і студенток у наборі даних? 
2. Який відсоток студентів чоловічої статі в наборі даних? 
3. Який відсоток студенток у наборі даних?

In [5]:
task1 = len(df)

In [6]:
task1

30641

In [7]:
task2 = len(df[df['Gender'] == 'male'])/len(df)

In [8]:
task2

0.496622172905584

In [9]:
task3 = len(df[df['Gender'] == 'female'])/len(df)

In [10]:
task3

0.503377827094416

## Дослідіть зв’язок між етнічною групою та результатами тестів.
4. Яка етнічна група має найвищий середній бал з математики?
5. Яка етнічна група має найвищий середній бал читання?
6. Яка етнічна група має найвищий середній бал з письма?

In [11]:
task4 = df.groupby('EthnicGroup')['MathScore'].mean()
task5 = df.groupby('EthnicGroup')['ReadingScore'].mean()
task6 = df.groupby('EthnicGroup')['WritingScore'].mean()

In [12]:
task4

EthnicGroup
group A    62.991888
group B    63.490216
group C    64.695723
group D    67.666400
group E    75.298936
Name: MathScore, dtype: float64

In [13]:
task5

EthnicGroup
group A    66.787742
group B    67.320460
group C    68.438233
group D    70.382247
group E    74.251423
Name: ReadingScore, dtype: float64

In [14]:
task6

EthnicGroup
group A    65.251915
group B    65.895125
group C    66.999240
group D    70.890844
group E    72.677060
Name: WritingScore, dtype: float64

## Дослідіть вплив курсу підготовки до тесту на результати тесту.
 7. Який середній бал з математики для студентів, які закінчили курс підготовки до тесту?
 8. Який середній бал з читання для студентів, які пройшли курс підготовки до тесту?
 9. Який середній бал для студентів, які закінчили курс підготовки до тесту?

In [15]:
task7 = df.groupby('TestPrep')['MathScore'].mean()
task8 = df.groupby('TestPrep')['ReadingScore'].mean()
task9 = df.groupby('TestPrep')['WritingScore'].mean()

In [16]:
task7

TestPrep
completed    69.54666
none         64.94877
Name: MathScore, dtype: float64

In [17]:
task8

TestPrep
completed    73.732998
none         67.051071
Name: ReadingScore, dtype: float64

In [18]:
task9

TestPrep
completed    74.703265
none         65.092756
Name: WritingScore, dtype: float64

 ## Проаналізуйте розподіл батьків(ів) за сімейним станом серед учнів.
 10. Скільки студентів мають одружених батьків?
 11. Скільки студентів мають батьків-одинаків?

In [19]:
task10 = len(df[df['ParentMaritalStatus'] == 'married'])

In [20]:
task10

16844

In [21]:
task11 = len(df[df['ParentMaritalStatus'].isin(['single', 'divorced', 'widowed'])])

In [22]:
task11

12607

## Дослідіть зв’язок між заняттями спортом і результатами тестів.
12. Чи студенти, які регулярно займаються спортом, мають вищі середні результати з математики, ніж ті, хто ніколи не       займається спортом?
13. Чи студенти, які регулярно займаються спортом, мають вищі середні результати читання, ніж ті, хто ніколи не займається спортом?

In [23]:
task12 = df.groupby('PracticeSport')['MathScore'].mean()
task13 = df.groupby('PracticeSport')['ReadingScore'].mean()

In [24]:
task12

PracticeSport
never        64.171079
regularly    67.839155
sometimes    66.274831
Name: MathScore, dtype: float64

In [25]:
task13

PracticeSport
never        68.337662
regularly    69.943019
sometimes    69.241307
Name: ReadingScore, dtype: float64

## Проаналізуйте розподіл транспортних засобів до школи серед учнів.
14. Скільки учнів користується шкільним автобусом, щоб дістатися до школи?
15. Скільки учнів користується приватним транспортом, щоб дістатися до школи?

In [26]:
task14 = df['TransportMeans'].value_counts()['school_bus']
task15 = df['TransportMeans'].value_counts()['private']

In [27]:
task14

16145

In [28]:
task15

11362

# Task 2

In [29]:
df["TestPrep"].value_counts()

none         18856
completed     9955
Name: TestPrep, dtype: int64

In [30]:
from sklearn.preprocessing import OrdinalEncoder

df = df.dropna(subset=["TestPrep"])

In [31]:
from sklearn.pipeline import Pipeline
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import StandardScaler

num_pipeline = Pipeline([
        ("imputer", SimpleImputer(strategy="median")),
    ])

In [32]:
from sklearn.preprocessing import OneHotEncoder

cat_pipeline = Pipeline([
        ("imputer", SimpleImputer(strategy="most_frequent")),
        ("cat_encoder", OrdinalEncoder()),
    ])

In [33]:
from sklearn.compose import ColumnTransformer

num_attribs = ["MathScore","ReadingScore","WritingScore","NrSiblings"]
cat_attribs = ["Gender","EthnicGroup","ParentEduc","LunchType","ParentMaritalStatus","PracticeSport","IsFirstChild", 
               "TransportMeans","WklyStudyHours"]

preprocess_pipeline = ColumnTransformer([
        ("num", num_pipeline, num_attribs),
        ("cat", cat_pipeline, cat_attribs),
    ])

In [34]:
df_prepared = preprocess_pipeline.fit_transform(df[num_attribs + cat_attribs])
df_prepared

array([[71., 71., 74., ...,  1.,  1.,  1.],
       [87., 93., 91., ...,  1.,  1.,  1.],
       [45., 56., 42., ...,  0.,  1.,  0.],
       ...,
       [61., 70., 67., ...,  0.,  0.,  0.],
       [82., 90., 93., ...,  0.,  1.,  0.],
       [64., 60., 58., ...,  0.,  1.,  0.]])

In [35]:
y = df["TestPrep"].copy().tolist()
X = df_prepared

In [36]:
from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)
params = {'max_leaf_nodes': list(range(2, 25)), 'min_samples_split': [2, 3, 4], 'max_depth':list(range(2,15))}
grid_search_cv = GridSearchCV(DecisionTreeClassifier(random_state=42), params, verbose=1, cv=3)

grid_search_cv.fit(X_train, y_train)
grid_search_cv.best_estimator_

Fitting 3 folds for each of 897 candidates, totalling 2691 fits

DecisionTreeClassifier(max_depth=7, max_leaf_nodes=24, random_state=42)

In [37]:
from sklearn.metrics import accuracy_score

y_pred = grid_search_cv.predict(X_test)
accuracy_score(y_test, y_pred)

0.7039736248481694